{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "inline-react-svg",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["module-resolver", {
      "alias": {
        "@": "./src/"
      }
    }]
  ],
  "env": {
    "production": {
      "presets": [
        ["minify", {
          "builtIns": false
        }]
      ],
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}
