{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "src": "./src"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        [
          "minify",
          {
            "builtIns": false
          }
        ]
      ],
      "plugins": ["transform-remove-console"]
    }
  }
}