{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["babel"],
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "alias": {
        "map": [
          ["@", "./src"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "react/jsx-props-no-spreading": [0],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx", ".ts", ".tsx"]
    }],
    "no-underscore-dangle": [0],
    "react/jsx-wrap-multilines": [0]
  }
}