{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "react", "babel"],
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "babel-module": {},
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {
        // 从 <roo/>@types 读取类型定义
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "react/jsx-props-no-spreading": [0],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx", ".ts", ".tsx"]
    }],
    "react/jsx-wrap-multilines": [0],
    "import/prefer-default-export": [0],
    "@typescript-eslint/explicit-function-return-type": [0],
    // "@typescript-eslint/member-delimiter-style": [0],
    "@typescript-eslint/explicit-module-boundary-types": [0],
    "@typescript-eslint/no-explicit-any": [0],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}